In [1]:
#import mysql.connector
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
from numpy.random import default_rng
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
#cnx = sqlalchemy.create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')
cnx = create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')

In [3]:
qry="select hiercode from (select hiercode,count(*) as nc from rp_main_hiercode_prod_sold group by hiercode) p where  p.hiercode='S529371'"
qry_lst=cnx.execute(qry).fetchall()
lst_hiercode =[ lt[0] for lt in pd.DataFrame.from_dict(qry_lst).values.tolist()]
lst_hiercode

['S529371']

In [4]:
query="select COALESCE(max(id),0) as id from rp_prod_similarity"
idmax=cnx.execute(query).fetchall()
idd=[ lt[0] for lt in pd.DataFrame.from_dict(idmax).values.tolist()]
idd[0]

2430844

In [5]:
qry2='select hiercode,prodcode, concat(season," ",description) as description  from rp_main_hiercode_prod_sold'
#cursor=cnx.cursor()
#cursor.execute(query2)
df_input=pd.DataFrame(cnx.execute(qry2).fetchall())
#field_names = [i[0] for i in cnx.description]
df_input.columns = ['hiercode','prodcode','description']
df_input

,hiercode,prodcode,description
0,S000065,2000362744275,TTEMP BIPACK BOXER ARROW DESIN BIB319 SURTIDO M
1,S000065,2000362744794,TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO XL
2,S000065,2000362744787,TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO L
3,S000065,2000362744770,TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO M
4,S000065,2000362744763,TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO S
...,...,...,...
423749,S530833,2000312203159,INV VESTIDO INDEX SOL CAFE L
423750,S530833,2000312203142,INV VESTIDO INDEX SOL CAFE M
423751,S530833,2000312203135,INV VESTIDO INDEX SOL CAFE S
423752,S530833,2000312203128,INV VESTIDO INDEX SOL AZUL L
423753,S530833,2000312204071,INV VESTIDO INDEX LISO NEGRO XL