In [42]:
import mysql.connector
import pandas as pd

In [43]:
USER = "chenriquez"
PASSWORD = "Chilote64#"
IP = "localhost"
BD_NAME = "analitica2"

FULL_PATH_CONNECTION_BD_MYSQL = "mysql://" + USER + ":" + PASSWORD + "@" + IP + "/" + BD_NAME

In [44]:
cnx = mysql.connector.connect(user=USER, 
                                  password=PASSWORD,
                                  host='127.0.0.1',
                                  database=BD_NAME,
                                  auth_plugin='mysql_native_password')

In [73]:
query="select distinct hiercode from rp_main_hiercode_prod_sold"
cursor = cnx.cursor()
cursor.execute(query)    
lst_hiercode=[item[0] for item in cursor.fetchall()]

In [74]:
print(type(lst_hiercode))

<class 'list'>

In [76]:
print(lst_hiercode)

['S000065', 'S000117', 'S000146', 'S000157', 'S001173', 'S003028', 'S003065', 'S005002', 'S005034', 'S015004', 'S030002', 'S039004', 'S500061', 'S500109', 'S500134', 'S500136', 'S500152', 'S500173', 'S500233', 'S500305', 'S500358', 'S500564', 'S500600', 'S500618', 'S500623', 'S502259', 'S502716', 'S502723', 'S502729', 'S502736', 'S521858', 'S521874', 'S521890', 'S521891', 'S521990', 'S521991', 'S522143', 'S522470', 'S522477', 'S522484', 'S522498', 'S523574', 'S523658', 'S523964', 'S523974', 'S523976', 'S523984', 'S524335', 'S524350', 'S524358', 'S524508', 'S524951', 'S524986', 'S525433', 'S525434', 'S525439', 'S525440', 'S525444', 'S525445', 'S525450', 'S526867', 'S526868', 'S526982', 'S526983', 'S526992', 'S526996', 'S526997', 'S527034', 'S527036', 'S527072', 'S527089', 'S527111', 'S527139', 'S527207', 'S527221', 'S527287', 'S527379', 'S527983', 'S527994', 'S528012', 'S528023', 'S528026', 'S528027', 'S528029', 'S528033', 'S528035', 'S528036', 'S528037', 'S528040', 'S528042', 'S528043', 'S528046', 'S528047', 'S528167', 'S528490', 'S528616', 'S528617', 'S529371', 'S529648', 'S529714', 'S529762', 'S529786', 'S529796', 'S529822', 'S529856', 'S529892', 'S529915', 'S529922', 'S530592', 'S530647', 'S530824', 'S530833']

In [75]:
print(len(lst_hiercode))

112

In [58]:
query2='select hiercode,prodcode, concat(season," ",description) as description  from rp_main_hiercode_prod_sold'
cursor=cnx.cursor()
cursor.execute(query2)
df=pd.DataFrame(cursor.fetchall())
field_names = [i[0] for i in cursor.description]
df.columns = field_names

In [59]:
print(df.shape)

(423754, 3)

In [60]:
df.head()

  hiercode       prodcode                                       description
0  S000065  2000362744275   TTEMP BIPACK BOXER ARROW DESIN BIB319 SURTIDO M
1  S000065  2000362744794  TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO XL
2  S000065  2000362744787   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO L
3  S000065  2000362744770   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO M
4  S000065  2000362744763   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO S

In [66]:
print(type(lst_hiercode))

<class 'list'>

In [67]:
print(lst_hiercode)

[('S000065',), ('S000117',), ('S000146',), ('S000157',), ('S001173',), ('S003028',), ('S003065',), ('S005002',), ('S005034',), ('S015004',), ('S030002',), ('S039004',), ('S500061',), ('S500109',), ('S500134',), ('S500136',), ('S500152',), ('S500173',), ('S500233',), ('S500305',), ('S500358',), ('S500564',), ('S500600',), ('S500618',), ('S500623',), ('S502259',), ('S502716',), ('S502723',), ('S502729',), ('S502736',), ('S521858',), ('S521874',), ('S521890',), ('S521891',), ('S521990',), ('S521991',), ('S522143',), ('S522470',), ('S522477',), ('S522484',), ('S522498',), ('S523574',), ('S523658',), ('S523964',), ('S523974',), ('S523976',), ('S523984',), ('S524335',), ('S524350',), ('S524358',), ('S524508',), ('S524951',), ('S524986',), ('S525433',), ('S525434',), ('S525439',), ('S525440',), ('S525444',), ('S525445',), ('S525450',), ('S526867',), ('S526868',), ('S526982',), ('S526983',), ('S526992',), ('S526996',), ('S526997',), ('S527034',), ('S527036',), ('S527072',), ('S527089',), ('S527111',), ('S527139',), ('S527207',), ('S527221',), ('S527287',), ('S527379',), ('S527983',), ('S527994',), ('S528012',), ('S528023',), ('S528026',), ('S528027',), ('S528029',), ('S528033',), ('S528035',), ('S528036',), ('S528037',), ('S528040',), ('S528042',), ('S528043',), ('S528046',), ('S528047',), ('S528167',), ('S528490',), ('S528616',), ('S528617',), ('S529371',), ('S529648',), ('S529714',), ('S529762',), ('S529786',), ('S529796',), ('S529822',), ('S529856',), ('S529892',), ('S529915',), ('S529922',), ('S530592',), ('S530647',), ('S530824',), ('S530833',)]

In [77]:
print(lst_hiercode[0])

S000065

In [78]:
dfiltered=df[df.hiercode==lst_hiercode[0]]
print(dfiltered)

     hiercode       prodcode                                       description
0     S000065  2000362744275   TTEMP BIPACK BOXER ARROW DESIN BIB319 SURTIDO M
1     S000065  2000362744794  TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO XL
2     S000065  2000362744787   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO L
3     S000065  2000362744770   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO M
4     S000065  2000362744763   TTEMP BIPACK BOXER ARROW CLASS BIB329 SURTIDO S
...       ...            ...                                               ...
4638  S000065  2000369035246                  TTEMP BOXER  93082 2PACK NEGRO S
4639  S000065  2000369035239                  TTEMP BOXER  93082 2PACK ROJO XL
4640  S000065  2000369035222                   TTEMP BOXER  93082 2PACK ROJO L
4641  S000065  2000369035215                   TTEMP BOXER  93082 2PACK ROJO M
4642  S000065  2000369035208                   TTEMP BOXER  93082 2PACK ROJO S

[4643 rows x 3 columns]