In [2]:
import numpy as np
import pandas as pd

arr1 = np.array([[1, 2, 3,4], [4, 5, 6,7]])

#print(f'Original Array:\n{arr1}')

#arr1_transpose = arr1.transpose()

#print(f'Transposed Array:\n{arr1_transpose}')

In [62]:
arr1

array([[1, 2, 3, 4],
       [4, 5, 6, 7]])

In [85]:
arr1_list=arr1[1]

In [86]:
arr1_list

array([4, 5, 6, 7])

In [87]:
arr1_vector=arr1_list.reshape((-1, 1))

In [88]:
arr1_vector.shape

(4, 1)

In [81]:
n=arr1_vector.shape[0]

In [12]:
n=4

In [19]:
col=np.arange(1,n+1).reshape((-1,1))

In [20]:
col

array([[1],
       [2],
       [3],
       [4]])

In [84]:
col.shape

(4, 1)

In [89]:
ant=np.array([0] * n).reshape((-1, 1))

In [90]:
ant.shape

(4, 1)

In [5]:
a=np.array(10)
a

array(10)

In [92]:
matrix=np.concatenate([ant,col,arr1_vector], axis=1)

In [93]:
matrix

array([[0, 0, 4],
       [0, 1, 5],
       [0, 2, 6],
       [0, 3, 7]])

In [99]:
df=pd.DataFrame(matrix)

In [103]:
df

   0  1  2
0  0  0  4
1  0  1  5
2  0  2  6
3  0  3  7

In [104]:
df_list=df.values.tolist()

In [105]:
df_list

[[0, 0, 4], [0, 1, 5], [0, 2, 6], [0, 3, 7]]

In [113]:
dff=None
dff=pd.DataFrame([1,2,3])

In [107]:
if len(dff!=0):
    print('111')
else:
    print('si')

TypeError: object of type 'bool' has no len()

In [114]:
if dff==None:
    print('**')
else:
    print('df')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [115]:
df=pd.DataFrame([])

In [116]:
if len(df)!=0:
    print('no vacion')
else:
    print('vacion')

vacion