In [204]:
#import mysql.connector
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
from numpy.random import default_rng

In [205]:
#cnx = sqlalchemy.create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')
cnx = create_engine('mysql+pymysql://root:chilote64@localhost/analitica2')

In [206]:
qry="select	clientcode,hiercode,sum(nc) as nc from 	rp_client_preference_hst group by clientcode,hiercode"
df_input=pd.DataFrame(cnx.execute(qry).fetchall())
df_input.columns=['clientcode','hiercode','nc']

In [207]:
df_input.columns=['clientcode','hiercode','nc']

In [208]:
# entire dataframe
df_input

        clientcode hiercode nc
0               10  S523920  1
1               10  S524478  1
2          1000000  S527972  1
3          1000000  S527224  1
4          1000000  S522143  1
...            ...      ... ..
4935154   99999999  S528290  1
4935155   99999999  S500668  3
4935156   99999999  S527079  2
4935157   99999999  S529192  1
4935158   99999999  S530935  1

[4935159 rows x 3 columns]

In [209]:
df_input.shape

(4935159, 3)

In [210]:
# client list
#qry="select distinct clientcode from rp_client_preference_hst"
#client_lst=cnx.execute(qry).fetchall()
#lst_client =[ lt[0] for lt in pd.DataFrame.from_dict(client_lst).values.tolist()]
#lst_client

In [211]:
lst_client=list(set(df_input['clientcode'].tolist()))
len(lst_client)

1022972

In [212]:
list_client_array=np.array(lst_client).reshape((-1,1))

In [213]:
list_client_array

array([['15706404'],
       ['12420984'],
       ['7989817'],
       ...,
       ['25180254'],
       ['5740440'],
       ['18393342']], dtype='<U8')

In [214]:
print(len(list_client_array))

1022972

In [215]:
# Number of clients to choose randomly
n=20000

In [216]:
rng = default_rng()
random_array = rng.choice(len(lst_client), size=n, replace=False)

In [217]:
random_array

array([131010, 571241, 691593, ..., 359703, 801487, 769398], dtype=int64)

In [218]:
# randomly choosing the clients' indexes 
#random_array=np.random.choice(len(lst_client),n)

In [219]:
random_array.shape

(20000,)

In [220]:
# convering the index array to a list
mask=random_array.tolist()
mask

[131010,
 571241,
 691593,
 757472,
 390441,
 516182,
 202538,
 535159,
 280819,
 977892,
 675394,
 304745,
 725568,
 186914,
 847687,
 880905,
 764148,
 969145,
 808607,
 725646,
 400304,
 900520,
 578973,
 823866,
 3778,
 32029,
 979435,
 175425,
 964773,
 210197,
 436158,
 443086,
 878978,
 789133,
 989463,
 819549,
 327241,
 646823,
 659195,
 545283,
 73514,
 779992,
 759903,
 102873,
 94827,
 498674,
 803824,
 787595,
 956555,
 511942,
 987385,
 507741,
 287561,
 385370,
 498533,
 508877,
 98842,
 683712,
 64044,
 166175,
 629409,
 739910,
 303650,
 378372,
 782254,
 201098,
 598003,
 270179,
 65210,
 898558,
 109916,
 351659,
 694318,
 861501,
 982911,
 928766,
 83332,
 480899,
 842725,
 935612,
 75875,
 56695,
 124071,
 525457,
 19330,
 787578,
 861917,
 429711,
 644578,
 299001,
 319403,
 339866,
 1018508,
 740375,
 810616,
 948066,
 540025,
 802896,
 309333,
 557455,
 993629,
 820428,
 772858,
 928625,
 527023,
 748139,
 1020035,
 993656,
 250993,
 108954,
 520714,
 483791,
 269046,
 697118,
 893748,
 908448,
 260800,
 759657,
 556193,
 311691,
 487484,
 803630,
 19648,
 640339,
 938252,
 955440,
 982426,
 820976,
 87621,
 198138,
 62499,
 348751,
 1001883,
 866195,
 565339,
 793608,
 934346,
 93314,
 421296,
 783243,
 615710,
 626377,
 168491,
 508197,
 87263,
 500543,
 176574,
 130406,
 293964,
 763801,
 827088,
 723944,
 447031,
 568499,
 895609,
 620203,
 935177,
 289843,
 634164,
 260536,
 415772,
 541907,
 667576,
 427162,
 672837,
 383691,
 413871,
 394302,
 79533,
 623786,
 1000255,
 909465,
 894175,
 621812,
 574113,
 470232,
 1014286,
 189085,
 110838,
 296584,
 449393,
 116120,
 364156,
 765267,
 211833,
 443031,
 142564,
 986175,
 895839,
 1013051,
 727448,
 846903,
 431257,
 58968,
 734498,
 186610,
 687113,
 181340,
 549758,
 445111,
 275002,
 491359,
 347739,
 852552,
 648414,
 596527,
 4719,
 323251,
 434091,
 529271,
 815087,
 92976,
 1016920,
 333231,
 333173,
 435421,
 805685,
 960833,
 885151,
 393601,
 190792,
 717834,
 725438,
 469667,
 719806,
 268050,
 220702,
 692334,
 118732,
 314338,
 686018,
 661015,
 3804,
 326722,
 950314,
 39196,
 257493,
 1020707,
 376985,
 481679,
 90455,
 921421,
 856810,
 9706,
 142417,
 688782,
 660993,
 816246,
 504458,
 439432,
 761914,
 651760,
 756194,
 704707,
 38759,
 786662,
 971354,
 495002,
 934217,
 370371,
 592241,
 316036,
 820684,
 73103,
 723753,
 247966,
 294722,
 149325,
 785873,
 419432,
 207298,
 467519,
 69595,
 191164,
 8671,
 293198,
 1022784,
 727079,
 930734,
 786533,
 907409,
 970903,
 708827,
 770779,
 759914,
 834091,
 605836,
 489544,
 976227,
 253808,
 675284,
 965390,
 759455,
 965183,
 273071,
 92182,
 545249,
 569317,
 666488,
 977628,
 219635,
 947792,
 639740,
 16019,
 922225,
 959727,
 962235,
 279613,
 675520,
 658540,
 571207,
 1007758,
 361977,
 145863,
 972709,
 798398,
 728027,
 361950,
 129618,
 927512,
 422323,
 136431,
 953289,
 787395,
 549866,
 802073,
 352064,
 71565,
 714035,
 968771,
 195619,
 982359,
 915471,
 955854,
 600103,
 392025,
 844509,
 40880,
 387436,
 924068,
 933908,
 547702,
 799905,
 327635,
 952665,
 833965,
 838348,
 395541,
 848757,
 25708,
 988232,
 222643,
 195485,
 1005042,
 116306,
 644693,
 646616,
 738634,
 662299,
 327861,
 122836,
 78935,
 464343,
 932288,
 628976,
 927656,
 519379,
 676667,
 42907,
 774936,
 658969,
 802556,
 1000895,
 980299,
 793632,
 633923,
 817018,
 313103,
 669678,
 133440,
 945063,
 737916,
 959920,
 236783,
 55562,
 758774,
 386116,
 543835,
 396764,
 364302,
 222591,
 461492,
 448599,
 401443,
 399081,
 237508,
 421180,
 591739,
 476034,
 310028,
 33514,
 855309,
 452641,
 598225,
 566215,
 141403,
 984179,
 114008,
 1003864,
 1018079,
 427499,
 427431,
 160902,
 75516,
 974914,
 749472,
 82493,
 292300,
 198317,
 381790,
 615857,
 5649,
 751170,
 624962,
 72967,
 745919,
 807762,
 425956,
 998700,
 25920,
 734979,
 287255,
 546118,
 518781,
 743428,
 875729,
 180010,
 6793,
 211652,
 471964,
 442797,
 103612,
 766831,
 773999,
 51917,
 510607,
 162488,
 789308,
 322474,
 928466,
 142661,
 169568,
 306137,
 367104,
 251491,
 451851,
 653430,
 942698,
 208981,
 466298,
 311090,
 385985,
 377198,
 1012691,
 696856,
 465476,
 742006,
 63044,
 823331,
 655922,
 410385,
 334951,
 69499,
 70668,
 915842,
 514307,
 976868,
 683723,
 148397,
 489594,
 782026,
 924826,
 670059,
 543462,
 882490,
 17841,
 15357,
 819192,
 760996,
 300857,
 553260,
 6904,
 412283,
 66967,
 590944,
 878815,
 866511,
 555620,
 601852,
 1010443,
 666222,
 653703,
 858918,
 722394,
 636504,
 348605,
 915565,
 939103,
 412701,
 697887,
 242258,
 1019015,
 601571,
 470383,
 304655,
 319278,
 428341,
 874445,
 791783,
 496813,
 466506,
 493163,
 205125,
 826486,
 577374,
 886847,
 738984,
 99090,
 336450,
 268706,
 318554,
 809185,
 756533,
 238642,
 582481,
 668816,
 423032,
 259380,
 863344,
 707526,
 443336,
 384951,
 344214,
 15776,
 740776,
 873495,
 619932,
 788149,
 304112,
 349542,
 696282,
 535065,
 75610,
 830326,
 139195,
 647614,
 493998,
 755695,
 183298,
 570050,
 290627,
 976888,
 860380,
 315127,
 186183,
 897345,
 900446,
 780651,
 135321,
 574659,
 241842,
 358339,
 1008316,
 490121,
 535500,
 479195,
 229671,
 552050,
 573497,
 886348,
 271313,
 248783,
 181452,
 234007,
 224825,
 520357,
 38532,
 461039,
 750252,
 170704,
 930994,
 553183,
 219897,
 741563,
 864090,
 591598,
 18405,
 768657,
 310008,
 112446,
 177994,
 981633,
 1006057,
 312713,
 812418,
 777453,
 737626,
 420270,
 448787,
 416717,
 928073,
 181602,
 384665,
 247027,
 746931,
 333520,
 405733,
 850275,
 609138,
 317730,
 563615,
 60365,
 607829,
 551466,
 40308,
 367924,
 569394,
 695557,
 533850,
 135939,
 371546,
 878142,
 630106,
 748647,
 692149,
 806148,
 881941,
 630079,
 281791,
 509640,
 227643,
 677652,
 827758,
 859171,
 853444,
 487772,
 179688,
 381384,
 17119,
 899960,
 343772,
 21363,
 803107,
 240210,
 965548,
 40486,
 583750,
 132162,
 209272,
 488109,
 728025,
 579965,
 37550,
 113374,
 863893,
 689479,
 524896,
 149756,
 351907,
 301415,
 579938,
 99058,
 887586,
 11916,
 525685,
 808109,
 718455,
 405211,
 812833,
 75417,
 556511,
 411645,
 255457,
 97458,
 854629,
 195572,
 61208,
 298291,
 304867,
 551271,
 542928,
 35777,
 136842,
 59840,
 553781,
 990586,
 981035,
 627449,
 562168,
 265450,
 678693,
 251754,
 941001,
 198216,
 816921,
 884582,
 607469,
 263350,
 85799,
 925707,
 895937,
 60501,
 7341,
 962355,
 898586,
 453292,
 358142,
 406915,
 948273,
 757128,
 130971,
 422376,
 168078,
 908645,
 638022,
 979693,
 373387,
 965972,
 653230,
 766504,
 41052,
 758371,
 264778,
 424042,
 400676,
 708323,
 50902,
 493194,
 494510,
 355243,
 171966,
 598494,
 12881,
 451849,
 613028,
 64153,
 46721,
 406772,
 23005,
 199248,
 289866,
 229445,
 766088,
 656869,
 466154,
 568575,
 586198,
 136823,
 448814,
 230552,
 233202,
 721378,
 651299,
 68897,
 1022190,
 491020,
 1020100,
 927667,
 321611,
 964637,
 590948,
 527267,
 985529,
 747173,
 132298,
 317458,
 758054,
 925331,
 648254,
 677271,
 432069,
 32552,
 405168,
 75851,
 963686,
 95270,
 244923,
 470128,
 277562,
 899343,
 57872,
 233051,
 111108,
 433836,
 337264,
 506185,
 223097,
 549789,
 619405,
 422451,
 163998,
 405864,
 460277,
 996089,
 76866,
 356004,
 223781,
 51648,
 631087,
 31420,
 730659,
 337624,
 115912,
 810617,
 542008,
 939156,
 322787,
 188188,
 561221,
 436872,
 27859,
 851332,
 1006210,
 256802,
 355551,
 938232,
 535353,
 349548,
 939654,
 124742,
 340021,
 590735,
 744079,
 460239,
 345233,
 767426,
 984937,
 313687,
 334523,
 140141,
 122964,
 682829,
 489751,
 198001,
 960771,
 64400,
 757658,
 10698,
 188268,
 583252,
 557637,
 823077,
 124882,
 368905,
 705127,
 27351,
 915455,
 94717,
 756476,
 95901,
 923386,
 346442,
 13673,
 309231,
 695683,
 775095,
 324365,
 361484,
 383768,
 261894,
 310472,
 995626,
 333412,
 193102,
 991146,
 688334,
 616326,
 439468,
 950635,
 286490,
 64338,
 316932,
 523228,
 656778,
 559437,
 282865,
 70694,
 566295,
 932278,
 378305,
 930536,
 635412,
 968691,
 473439,
 653121,
 435265,
 376090,
 776910,
 903392,
 217357,
 610903,
 828096,
 95757,
 557518,
 90561,
 722070,
 616884,
 400915,
 672785,
 746175,
 319723,
 88875,
 324004,
 339043,
 590560,
 712013,
 714356,
 998927,
 985943,
 939772,
 729875,
 997983,
 185134,
 89611,
 710485,
 952771,
 281969,
 94896,
 576049,
 964665,
 706779,
 685246,
 888296,
 670908,
 625204,
 638561,
 681647,
 361160,
 698889,
 43382,
 697130,
 690958,
 663706,
 896872,
 635245,
 415628,
 567077,
 75467,
 308675,
 498808,
 58461,
 521549,
 372203,
 24761,
 825902,
 191663,
 824079,
 852007,
 904394,
 477669,
 534708,
 566266,
 643195,
 106680,
 51375,
 160850,
 731617,
 285050,
 98043,
 585944,
 714043,
 850397,
 965009,
 167187,
 45892,
 980192,
 253535,
 859888,
 828368,
 437479,
 334275,
 173393,
 924793,
 885049,
 568751,
 471922,
 602907,
 769493,
 532204,
 513375,
 539330,
 21162,
 734436,
 772150,
 324532,
 725657,
 841435,
 407908,
 720398,
 688147,
 ...]

In [222]:
list_client_array=np.array(lst_client).reshape((-1,1))

In [223]:
list_client_array.shape

(1022972, 1)

In [226]:
# randonly choose clients 
list_client=list_client_array[mask].reshape((1,-1)).tolist()[0]
len(list_client)

20000

In [227]:
list_client

['14635491',
 '16900929',
 '17593579',
 '13910580',
 '3418852',
 '10194410',
 '15885901',
 '16032931',
 '6151397',
 '12497964',
 '22389148',
 '8055607',
 '12502061',
 '20198346',
 '9903729',
 '14277378',
 '16764276',
 '8470390',
 '19382264',
 '4059985',
 '8303004',
 '19397298',
 '13695619',
 '7791681',
 '8315331',
 '7544569',
 '16417151',
 '21534403',
 '19186235',
 '12646957',
 '18092957',
 '15399740',
 '8756123',
 '48190847',
 '18732103',
 '5696616',
 '19343344',
 '10741472',
 '17795685',
 '6868452',
 '19418107',
 '8968870',
 '7215413',
 '19036242',
 '8576716',
 '10975014',
 '18440858',
 '16794466',
 '18829338',
 '24923848',
 '24061035',
 '4674309',
 '11643980',
 '10935593',
 '9098851',
 '8471802',
 '14148250',
 '16706380',
 '19373021',
 '12277027',
 '11868779',
 '4052108',
 '14473301',
 '8728218',
 '13221303',
 '9473800',
 '19187154',
 '14038533',
 '22575893',
 '13881461',
 '15463438',
 '16436523',
 '15726422',
 '14364436',
 '18990561',
 '17361068',
 '11471738',
 '12581427',
 '15315475',
 '9499223',
 '5887473',
 '13278412',
 '11219632',
 '14327991',
 '12013059',
 '17268160',
 '14374875',
 '24095087',
 '10470450',
 '9022846',
 '6607657',
 '7287402',
 '18626926',
 '20499572',
 '17849182',
 '18806829',
 '19963423',
 '19079137',
 '18508690',
 '6480677',
 '8110435',
 '13768804',
 '19421191',
 '13488661',
 '20192517',
 '8776416',
 '17782873',
 '3641689',
 '18119138',
 '10962725',
 '11209501',
 '9570008',
 '13677245',
 '10466891',
 '5322117',
 '24884902',
 '19419059',
 '17818919',
 '18020827',
 '10304955',
 '25385717',
 '13773122',
 '3745282',
 '24301596',
 '6005171',
 '7520362',
 '17875311',
 '6224222',
 '13199493',
 '16954446',
 '20093804',
 '12930034',
 '20129000',
 '9290159',
 '12837152',
 '15229783',
 '10418368',
 '6588730',
 '6623488',
 '12887703',
 '18493463',
 '8564074',
 '17074415',
 '14005331',
 '11551860',
 '19746509',
 '11736968',
 '10265646',
 '15682184',
 '15465927',
 '1349173',
 '8640502',
 '25874822',
 '7911337',
 '17653550',
 '6497828',
 '13628217',
 '19226853',
 '16970098',
 '11202818',
 '8002379',
 '11716247',
 '13042299',
 '13234491',
 '9740986',
 '24890756',
 '23032862',
 '12087396',
 '12543987',
 '9511246',
 '11256662',
 '17707607',
 '16703593',
 '16737128',
 '11831428',
 '7112874',
 '10809144',
 '17001571',
 '13830198',
 '17852523',
 '18503444',
 '12052269',
 '14312705',
 '14263033',
 '15009412',
 '12190032',
 '13256135',
 '6461209',
 '15272443',
 '13327018',
 '6928490',
 '25048559',
 '11764333',
 '6137831',
 '18027832',
 '12214452',
 '12937936',
 '9603768',
 '8459486',
 '12838327',
 '21860651',
 '12353588',
 '18910124',
 '15812718',
 '24060620',
 '16221925',
 '12147804',
 '14233990',
 '9436679',
 '17533276',
 '14027345',
 '6591217',
 '8598111',
 '15837801',
 '8225071',
 '16557149',
 '12030938',
 '15777069',
 '40077631',
 '15913605',
 '19098863',
 '11109112',
 '14155599',
 '17132241',
 '4645647',
 '19584411',
 '6449046',
 '10001497',
 '16874925',
 '18105543',
 '5898150',
 '4982256',
 '9487786',
 '8713023',
 '11527908',
 '3149833',
 '10247989',
 '13840599',
 '17836473',
 '8588206',
 '13099626',
 '9102149',
 '16671722',
 '12472345',
 '12650844',
 '17928569',
 '16700537',
 '13820916',
 '13332306',
 '12910046',
 '7961325',
 '9476421',
 '15270603',
 '23287865',
 '23903235',
 '6164093',
 '16203027',
 '7174142',
 '16712142',
 '16980816',
 '14545083',
 '17691930',
 '17104383',
 '7382557',
 '19893668',
 '7104277',
 '18663487',
 '5144998',
 '16749852',
 '7895285',
 '16015586',
 '18465285',
 '5510970',
 '8273956',
 '17006305',
 '9868248',
 '9906757',
 '9586205',
 '24728857',
 '15006884',
 '14145919',
 '12123875',
 '11654890',
 '7167815',
 '18267710',
 '12686950',
 '16190889',
 '18119236',
 '8752414',
 '7001168',
 '18026743',
 '13648859',
 '9241709',
 '11955788',
 '5745666',
 '8986258',
 '15078710',
 '13220396',
 '24326205',
 '18127922',
 '25405259',
 '15633107',
 '16637163',
 '10074417',
 '19994099',
 '16502452',
 '10268406',
 '15465715',
 '18851204',
 '22747842',
 '19291013',
 '7594780',
 '11826080',
 '12247989',
 '8612147',
 '19087087',
 '16862221',
 '10600623',
 '15541009',
 '16143970',
 '17420370',
 '15855307',
 '13262586',
 '17839906',
 '10235453',
 '6998567',
 '17108153',
 '17575069',
 '23448951',
 '5399923',
 '13086964',
 '18407999',
 '12348350',
 '15413904',
 '10960154',
 '8617277',
 '13034302',
 '25774236',
 '12478875',
 '5209645',
 '11410781',
 '18275550',
 '16657474',
 '17486118',
 '12442573',
 '8208897',
 '8144268',
 '19878064',
 '10497416',
 '20191915',
 '13681584',
 '16126972',
 '4851847',
 '6679728',
 '17463755',
 '5894761',
 '13486505',
 '4429171',
 '19062743',
 '12174534',
 '10335632',
 '17667250',
 '6135985',
 '11859267',
 '14149397',
 '9187564',
 '8321759',
 '12516259',
 '23907598',
 '25359207',
 '14005290',
 '19026111',
 '15372701',
 '16136180',
 '15021208',
 '6369786',
 '16171915',
 '4945333',
 '15361677',
 '12676322',
 '19288573',
 '17665833',
 '18434211',
 '15012999',
 '5923240',
 '9175673',
 '19115591',
 '18125536',
 '7170763',
 '9007582',
 '13477804',
 '21440790',
 '4851722',
 '19237583',
 '11277825',
 '11317138',
 '25545891',
 '14118685',
 '15392341',
 '8294144',
 '18788486',
 '5606218',
 '18467448',
 '13421815',
 '6151262',
 '10593610',
 '14272755',
 '19103234',
 '16351007',
 '23703496',
 '8726986',
 '22649383',
 '13135048',
 '6523607',
 '23590944',
 '12490102',
 '18942970',
 '19055862',
 '21948098',
 '9013270',
 '16796554',
 '14188883',
 '7376613',
 '12041826',
 '13274445',
 '17437575',
 '19134686',
 '10151689',
 '6586710',
 '17281046',
 '19444639',
 '8313642',
 '14210739',
 '19102183',
 '24938404',
 '14573674',
 '13172958',
 '15721007',
 '13275463',
 '22137343',
 '5121234',
 '18232453',
 '11467734',
 '17521615',
 '12636437',
 '7885759',
 '16426367',
 '19586014',
 '22621337',
 '15428818',
 '18926282',
 '17536948',
 '10882107',
 '12810761',
 '5479837',
 '14520969',
 '16391617',
 '11855043',
 '14377421',
 '25238668',
 '16084553',
 '16924516',
 '17053886',
 '18984321',
 '17093854',
 '8537489',
 '8883389',
 '12392763',
 '10744352',
 '14176399',
 '10922472',
 '17248326',
 '17970201',
 '18422618',
 '14240615',
 '16521063',
 '15120828',
 '25373525',
 '7053617',
 '4700492',
 '10113829',
 '8912406',
 '10068748',
 '18023931',
 '19103034',
 '10235222',
 '16692136',
 '12462241',
 '9359746',
 '15608065',
 '12517570',
 '17659630',
 '16786043',
 '6670720',
 '17954137',
 '9749442',
 '11869965',
 '16471617',
 '14901701',
 '9600925',
 '7434880',
 '16267706',
 '4940565',
 '5129882',
 '8825008',
 '7409047',
 '15933941',
 '7319870',
 '17063661',
 '15671738',
 '18548259',
 '15813247',
 '25806616',
 '8988960',
 '12274181',
 '9619397',
 '18667218',
 '6073232',
 '11047325',
 '10362920',
 '10708364',
 '8695146',
 '24405502',
 '7122097',
 '15470560',
 '6661003',
 '15534931',
 '16146097',
 '19894114',
 '12859956',
 '9631712',
 '3955187',
 '19711860',
 '7685243',
 '10747944',
 '18364604',
 '16913996',
 '10322981',
 '24211591',
 '7840594',
 '19258612',
 '12616998',
 '25671402',
 '10740814',
 '9340802',
 '14642445',
 '12587276',
 '10412537',
 '17633960',
 '18748096',
 '12873001',
 '6975869',
 '8263239',
 '17704915',
 '16215979',
 '13488149',
 '7313262',
 '7713201',
 '8432417',
 '14702699',
 '17348689',
 '5197814',
 '12349441',
 '16713082',
 '13219614',
 '9842521',
 '10500566',
 '19115846',
 '24833104',
 '17228631',
 '17851470',
 '13828747',
 '13490680',
 '7980049',
 '17336692',
 '24347747',
 '10153808',
 '14340163',
 '4835969',
 '6719082',
 '21674429',
 '6139900',
 '11865042',
 '15570172',
 '14194394',
 '8245883',
 '14705838',
 '9440832',
 '13467305',
 '17018561',
 '7008160',
 '17310920',
 '19097862',
 '3960264',
 '22178860',
 '12120289',
 '3560403',
 '13913803',
 '25868604',
 '5785537',
 '17318560',
 '17087563',
 '13683352',
 '6957501',
 '14427018',
 '18930858',
 '5335305',
 '22533364',
 '12921359',
 '19838063',
 '19174666',
 '20262025',
 '13477664',
 '7769623',
 '18661937',
 '6600224',
 '16950522',
 '13508353',
 '14140108',
 '19529562',
 '19387885',
 '8001856',
 '9487008',
 '23562721',
 '19739575',
 '17562711',
 '11863301',
 '14481875',
 '8000948',
 '13722565',
 '13765066',
 '9384962',
 '11097392',
 '17205815',
 '5548054',
 '13234558',
 '13462674',
 '23149920',
 '18365459',
 '9369722',
 '8376197',
 '14118117',
 '15949378',
 '8335000',
 '17991861',
 '12652814',
 '17309424',
 '12893352',
 '13836330',
 '6156572',
 '19188594',
 '18274728',
 '6223411',
 '8126712',
 '20213580',
 '18725920',
 '12895895',
 '12282311',
 '17701411',
 '13637790',
 '5329506',
 '11669379',
 '7382485',
 '7968573',
 '17729062',
 '19385476',
 '7301912',
 '6476291',
 '12790399',
 '19818831',
 '13679526',
 '6205271',
 '12656378',
 '19419100',
 '24383557',
 '18546708',
 '7101626',
 '9751172',
 '17008279',
 '17926935',
 '10681309',
 '15468064',
 '13902711',
 '18126720',
 '16656192',
 '5308756',
 '19035033',
 '15960547',
 '15351160',
 '4873021',
 '16860999',
 '17361358',
 '10829531',
 '9238149',
 '17342375',
 '11634045',
 '19438584',
 '17304164',
 '17960780',
 '7682240',
 '24117261',
 '12606177',
 '19691043',
 '13548364',
 '25256019',
 '19100484',
 '7776778',
 '15031274',
 '16029714',
 '9930382',
 '16135551',
 '6365061',
 '13663907',
 '17739915',
 '12627507',
 '14742829',
 '16649584',
 '14145046',
 '16359242',
 '7681296',
 '12966904',
 '16133777',
 '15657898',
 '18052494',
 '23204100',
 '17433490',
 '18014315',
 '7864566',
 '15691337',
 '13979143',
 '13667246',
 '16423503',
 '16641679',
 '22519857',
 '5240674',
 '18638000',
 '17596558',
 '6810173',
 '13670179',
 '13564153',
 '12658947',
 '6873033',
 '18608834',
 '8311740',
 '7335028',
 '7513251',
 '7573703',
 '12475738',
 '25349675',
 '15501448',
 '12278960',
 '18606301',
 '8358831',
 '8126906',
 '6975397',
 '18928050',
 '5397171',
 '17711180',
 '25460874',
 '6543022',
 '12512282',
 '12680995',
 '13926137',
 '19545865',
 '8531758',
 '19426373',
 '20141175',
 '10476600',
 '25437748',
 '17024002',
 '49029413',
 '16272166',
 '19742085',
 '12584928',
 '4280555',
 '8563098',
 '4557411',
 '13053743',
 '16426511',
 '7498396',
 '15319962',
 '17231736',
 '17177430',
 '7329324',
 '16132154',
 '15020847',
 '16360162',
 '17570723',
 '21797933',
 '13666394',
 '14720006',
 '9976924',
 '11209356',
 '18641800',
 '17181918',
 '9584144',
 '16136127',
 '19025423',
 '12521906',
 '18589151',
 '15540761',
 '25666617',
 '13624872',
 '4828933',
 '18607017',
 '12111050',
 '6572356',
 '7558753',
 '6053584',
 '18242547',
 '7544441',
 '10545644',
 '5807492',
 '22514773',
 '17951153',
 '12619538',
 '7948213',
 '12369387',
 '24577811',
 '26072506',
 '11930338',
 '8260381',
 '18516237',
 '16351542',
 '13074798',
 '7939782',
 '19585678',
 '16357943',
 '19200674',
 '19937321',
 '17919583',
 '15607106',
 '9807662',
 '18954947',
 '21650514',
 '14005891',
 '9007379',
 '6516271',
 '7469305',
 '6124871',
 '25190443',
 '16939145',
 '25684946',
 '8352630',
 '13852697',
 '18919520',
 '17812604',
 '14728946',
 '16357436',
 '10688277',
 '10121006',
 '8967798',
 '26191569',
 '19102991',
 '12854168',
 '24755611',
 '11133993',
 '12641416',
 '6617554',
 '12098332',
 '7133754',
 '16004185',
 '8395421',
 '12868268',
 '5718726',
 '13863556',
 '16634859',
 '17528244',
 '16367522',
 '18694869',
 '17054736',
 '6658450',
 '4464221',
 '20212045',
 '18537469',
 '10696815',
 '8272418',
 '10101947',
 '7892684',
 '18285072',
 '16244995',
 '12288434',
 '19711488',
 '12007233',
 '25877505',
 '18526549',
 '8492881',
 '13550207',
 '7208958',
 '14495768',
 '16698578',
 '11861812',
 '17286629',
 '9437655',
 '6804677',
 '14171262',
 '6211427',
 '7419688',
 '19186154',
 '13247337',
 '13109263',
 '11723152',
 '12506232',
 '10625164',
 '10401662',
 '16611450',
 '4855390',
 '22722899',
 '23531227',
 '11631484',
 '14154910',
 '12812477',
 '6629123',
 '17878222',
 '18337444',
 '12677845',
 '17862145',
 '4293656',
 '26167339',
 '18762478',
 '15384569',
 '9387827',
 '15374529',
 '21195264',
 '13237806',
 '9179837',
 '5863954',
 '25101618',
 '9221490',
 '24331214',
 '5204778',
 '13742723',
 '22108997',
 '17919414',
 '8752343',
 '13533561',
 '14125184',
 '17417678',
 '17028183',
 '8268049',
 '16724934',
 '17811206',
 '6040070',
 '19056419',
 '16267605',
 '12463426',
 '22854783',
 '15099636',
 '16799610',
 '16141789',
 '9250652',
 '12366073',
 '19539918',
 '20259888',
 '22141983',
 '16961133',
 '10541154',
 '17187188',
 '24545532',
 '4103900',
 '16862141',
 '21391112',
 '15331365',
 '8307503',
 '19099427',
 '16014531',
 '17061958',
 '11633955',
 '10920675',
 '5814175',
 '9387124',
 '7547094',
 '13805625',
 '15451915',
 '9236253',
 '10986660',
 '11235685',
 '18860878',
 '19316349',
 '12216664',
 '13369330',
 '17848364',
 '14307879',
 '10752565',
 '25754710',
 '15372214',
 '13216258',
 '16681058',
 '16644634',
 '17952409',
 '2802535',
 '17960624',
 '15507087',
 '16134051',
 '9219399',
 '12658002',
 '14067301',
 '12650039',
 '4736494',
 '9482737',
 ...]

In [228]:
# convert the list to a dataframe
client_df=pd.DataFrame(list_client)
client_df.columns=['clientcode']
client_df=client_df.sort_values(by='clientcode', ascending=True)
client_df.shape

(20000, 1)

In [229]:
#client_df['clientcode'].tolist()
client_df

      clientcode
5183          10
2528    10000962
227     10001497
7787    10002825
13439   10003998
...          ...
4954     9994805
11183    9996348
3260     9996814
4321     9997792
15609    9999695

[20000 rows x 1 columns]

In [230]:
# describing the dataframe
client_df.describe()

       clientcode
count       20000
unique      20000
top      14143151
freq            1

In [231]:
nr_client=len(list_client)
nr_client

20000

In [232]:
# dataframe filtered by randomly choosing clients
df_input=df_input[df_input['clientcode'].isin(list_client)]
df_input

        clientcode hiercode nc
0               10  S523920  1
1               10  S524478  1
110       10000962  S529850  2
132       10001497  S524358  1
251       10002825  S500305  1
...            ...      ... ..
4934060    9997792  S528149  1
4934318    9999695  S500383  1
4934319    9999695  S500623  1
4934320    9999695  S523208  1
4934321    9999695  S500008  1

[97491 rows x 3 columns]

In [233]:
df_input.shape

(97491, 3)

In [234]:
# list of hiercode in df_input
list_hiercode=df_input['hiercode'].tolist()
len(list_hiercode)

97491

In [235]:
# converting list to set to eliminate duplicated and again converting to list
list_set_hiercode=list(set(list_hiercode) )
len(list_set_hiercode)

2571

In [236]:
# number of hiecode elements
nr_hiercode=len(list_set_hiercode)

In [237]:
# converting the list to a dataframe
dt_hiercode=pd.DataFrame(list_set_hiercode)
dt_hiercode.shape

(2571, 1)

In [238]:
# adding the column name and ordering hiercode in ascending order
dt_hiercode.columns=['hiercode']
dt_hiercode=dt_hiercode.sort_values(by='hiercode', ascending=True)
dt_hiercode
idx_hiercode=pd.Series(dt_hiercode.index, index=dt_hiercode['hiercode'])
idx_hiercode.shape

(2571,)

In [239]:
# creating a matrix of 0's
s = (nr_client,nr_hiercode)
matrix=np.zeros(s)
matrix.shape

(20000, 2571)

In [240]:
# index for hiercode elements
dt_hiercode.index = pd.RangeIndex(len(dt_hiercode))
dt_hiercode.index

RangeIndex(start=0, stop=2571, step=1)

In [241]:
# build series where the index correspond to the hiercode element
idx_hiercode=pd.Series(dt_hiercode.index, index=dt_hiercode['hiercode'])
idx_hiercode.shape

(2571,)

In [242]:
# index for clients
client_df.index = pd.RangeIndex(len(client_df))
client_df.index
idx_client=pd.Series(client_df.index, index=client_df['clientcode'])
idx_client.shape

(20000,)

In [243]:
# retrieving the result to a list
list_df_result=df_input['nc']
len(list_df_result)

97491

In [244]:
idx_client_selected=idx_client[df_input['clientcode']]
idx_client_selected.shape

(97491,)

In [245]:
df_input.shape

(97491, 3)

In [175]:
df_input

        clientcode hiercode nc
10        10000071  S524995  2
11        10000071  S529371  2
12        10000071  S530884  1
13        10000071  S529701  2
14        10000071  S523919  2
...            ...      ... ..
4932787    9993393  S528874  1
4932898    9993620  S524993  1
4932975    9993793  S522477  4
4933600    9995271  S523961  2
4933814   99964590  S502729  1

[94025 rows x 3 columns]

In [173]:
#df_list_clientcode_en_idx=pd.DataFrame(list(idx_client.index))

In [174]:
#df_list_clientcode_en_idx.to_excel (r'D:\projectos\recomendation\df_list_clientcode_en_idx.xlsx', index = False, header=True)

In [176]:
#df_input.to_excel (r'D:\projectos\recomendation\df_input.xlsx', index = False, header=True)

In [177]:
#random_array

array([424552, 637674, 131114, ..., 633187,  94182, 293988])

In [202]:
#df_random_array=pd.DataFrame(list(random_array))

In [203]:
#df_random_array.to_excel (r'D:\projectos\recomendation\df_random_array.xlsx', index = False, header=True)

In [225]:
#list_mask2=pd.DataFrame(list_client)
#list_mask2.to_excel (r'D:\projectos\recomendation\list_mask2.xlsx', index = False, header=True)