In [42]:
import mysql.connector
import pandas as pd

In [43]:
USER = "chenriquez"
PASSWORD = "Chilote64#"
IP = "localhost"
BD_NAME = "analitica2"

FULL_PATH_CONNECTION_BD_MYSQL = "mysql://" + USER + ":" + PASSWORD + "@" + IP + "/" + BD_NAME

In [44]:
cnx = mysql.connector.connect(user=USER, 
                                  password=PASSWORD,
                                  host='127.0.0.1',
                                  database=BD_NAME,
                                  auth_plugin='mysql_native_password')

In [45]:
query="select distinct hiercode from rp_main_hiercode_prod_sold"
cursor = cnx.cursor()
cursor.execute(query)    
lst_hiercode=cursor.fetchall()

In [46]:
print(type(lst_hiercode))

<class 'list'>

In [47]:
print(len(lst_hiercode))

112

In [48]:
query2='select hiercode, concat(season," ",description) as description  from rp_main_hiercode_prod_sold'
cursor=cnx.cursor()
cursor.execute(query2)
df=pd.DataFrame(cursor.fetchall())

In [49]:
print(df.shape)

(423754, 2)